<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boa_Viagem_Praia</title>
    <link rel="stylesheet" href="../style.css">
</head>
<header>
    <h1>Recife</h1>
</header>
<body>
    <h3>Praia de boa Viagem</h3>
    <p>A Praia de Boa Viagem é um dos principais cartões-postais do Recife, famosa por sua extensa faixa de areia, coqueirais e piscinas naturais formadas pelos recifes. Localizada na Zona Sul da cidade, é ideal para caminhadas, banhos de sol e apreciar o movimento animado. A orla é bem estruturada, com ciclovias, quiosques e restaurantes que servem pratos típicos da culinária pernambucana. Apesar da beleza, é importante seguir as orientações de segurança devido à presença de tubarões em áreas mais profundas. Boa Viagem combina lazer, natureza e infraestrutura, sendo um ponto turístico imperdível na capital pernambucana.</p>
    <img src="../img/boaviagem.jpg" alt="Boa_Viagem_Praia_img" eight="367px" width="550px">
</body>
<footer>
    <h4>Localização</h4>
<p>Av. Boa Viagem, Zona Sul, Recife - PE, Brasil</p>
<h4>Contato</h4>
<p>Secretaria de Turismo: (81) XXXX-XXXX
    E-mail: contato@boaviagemrecife.com</p>
    <ul>
        <li><a href="../index.html">Página inicial</a></li>
        <li><a href="ParquedasEsculturas.html">Parque das esculturas</a></li>
    </ul>
</footer>
</html>