<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parque_das_Esculturas</title>
</head>
<header>
    <h1>Recife</h1>
</header>
<body>
   <h3>Parque das Esculturas</h3> 
   <p>O **Parque das Esculturas Francisco Brennand** é um dos pontos turísticos mais icônicos do Recife, localizado em um molhe no meio do mar, em frente ao Marco Zero. Criado pelo renomado artista pernambucano Francisco Brennand, o parque reúne um conjunto de obras monumentais, com destaque para a **Coluna de Cristal**, que simboliza a conexão entre a terra e o mar. 

    Acessível por barco ou pela passarela do Recife Antigo, o local oferece uma experiência única, combinando arte, natureza e uma vista deslumbrante da cidade. O parque é um tributo à criatividade e ao talento de Brennand, sendo um passeio imperdível para quem visita o Recife.</p>
    <img src="../img/ParquedasEsculturas.1.jpg" alt="Parque_das_Esculturas_img">
    <img src="../img/Parquedasesculturas.2.webp" alt="Parque_das_Esculturas_img">
</body>
<footer>
    <h4>Localização</h4>
    <p>Molhe do Recife Antigo, em frente ao Marco Zero, Recife - PE, Brasil</p>
    <h4>Contato</h4>
    <p>Secretaria de Turismo: (81) XXXX-XXXX
        E-mail: contato@parqueesculturasrecife.com</p>
        <ul>
            <li><a href="../views/BoaViagem.html">Praia de Boa Viagem</a></li>
            <li><a href="../index.html">Página inicial</a></li>
</footer>
</html>